@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@ViewBag.Message

<br />
<br />

<address>
    Stephen Hila <br />
    Brgy. Kapitolyo, Pasig City 1603
</address>

<address>
    <strong>Mobile:</strong>+63 917 149 0853<br />
    <strong>Email:</strong> <a href="mailto:stephen.hila@gmail.com">stephen.hila@gmail.com</a>
</address>