@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tebby Poker</h1>
    <p class="lead">A great game of poker, still under development currently open for beta testing.</p>
    <p><a href="@Url.Action("Index", "Play", null)" class="btn btn-primary btn-lg">PLAY &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Unfamiliar with the game of Poker? Worry not. Click on the link below for a short, descriptive article about the game of poker.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Poker" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>